@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --max-width : 800px;
    --default-padding : 50px;
}

body {
    background: #181923;
    color : #f1f1f1;
}
*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
}
header {
    width : 100%;
    height : 50px;
    display: flex;
    padding : 0 var(--default-padding);
    justify-content: space-between;
    align-items: center;
    box-shadow : 0 0 5px rgba(0, 0, 0, 0.15);
}
header h1 {
    font-size : 1.2rem;
}
.container {
    position : relative;
    max-width: var(--max-width);
    padding : 0;
    margin : 0 auto;  
}

.container.header {
    position : relative;
    width : var(--max-width);
    height : 100%;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container.header ul {
    display: flex;
    gap : 20px;
    padding : 0;
    margin : 0;
}

.container.header ul li {
    list-style: none;
    font-size : 22px;
    padding : 0;
    margin : 0;
}
.container.header ul li svg {
    margin : 0;
    padding : 0;
}

.wrapper {
    position : relative;
    width : 100%;
    padding : 25px 0;
}

.flex {
    display: flex;
    align-items: center;
    gap : 20px;
}
.post {
    position: relative;
    margin : 0 auto;
    width : 100%;
    border : 0.5px solid rgba(213, 213, 213, 0.25);
}

.post .header-box {
    position : relative;
    width : 100%;
    height : 50px;
    display: flex;
    padding : 5px 10px;
    align-items: center;
}
.post .header-box .profile {
    border-radius: 50%;
    width : 30px;
    height : 30px;
    overflow: hidden;
}
.post .header-box .profile-name {
    font-size : 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-left : 10px;
    color : #f1f1f1fe;
}
.post .image-box {
    position : relative;
    width : 100%;
    overflow: hidden;
}
.post .image-box .arrow {
    position : absolute;
    top : 50%;
    width : 32px;
    height : 32px;
    display: flex;
    margin : 0 10px;
    justify-content: center;
    align-items: center;
    font-size : 1.2rem;
    transform : translateY(-100%);
    z-index: 10;
    cursor: pointer;
    color : white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.post .image-box .arrow.right {
    right : 0;
}
.post .image-box .images{
    display: flex;
}
.post .content-box {
    position : relative;
    width : 100%;
    padding : 20px;
    display: flex;
    font-size : 14px;
    flex-direction: column;
    gap : 10px;
    box-sizing: border-box;
}
.post .content-box .skills {
    display: flex;
    margin : 5px 0;
    flex-wrap: wrap;
    gap : 10px;
}
.post .content-box .skills .skill{
    padding : 0.5em 1em;
    font-size : 0.8rem;
    color : #4f4f4f;
    background: rgb(205, 216, 254);
    border-radius: 15px;
}
.post .content-box .description {
    margin-top : 10px;
    white-space: pre-wrap;
    line-height: 1.5;
}
.main {
    position: relative;
    width : 100%;
    display: flex;
    flex-direction: column;
}
.main > .wrapper.main {
    position: relative;
    width : 100%;
}
.main > .wrapper.sub {
    position: relative;
    width : 30%;
}

.main .wrapper {
    padding : 0;
    max-width : 800px;
}
.mypage {
    padding : 0 var(--default-padding);
}
.mypage .profile {
    border-radius: 50%;
    overflow: hidden;
}
.mypage .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.mypage .info h2 {
    font-size : 20px;
    font-weight : 600;
    color : #f4f4f4;
}
.mypage .info h3 {
    font-size: 14px;
    font-weight : 400;
    color : #e6e4e4;
}
.mypage .skills {
    width : 100%;
    margin-top : 10px;
    display: flex;
    gap : 10px;
    flex-wrap: wrap;
}
.mypage .skills .skill {
    padding : 5px 15px;
    font-size : 12px;
    color : #1f1f1f;
    background: rgb(210, 215, 255);
    border-radius: 15px;
}
.mypage .projects {
    width : 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.mypage .projects .project {
    position : relative;
    width : 100%;
    border : 0.5px solid rgba(88, 109, 122, 0.575);
    box-sizing: border-box;
}
.mypage .mypage-modal {
    position: fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100vh;
    
    background: #181923;
    z-index: 1000;
    overflow-y: auto;
}
.mypage .mypage-modal header {
    position: relative;
    padding : 0;
    width : 100%;
}
.mypage .mypage-modal header .content {
    position: relative;
    width : 800px;
    margin : 0 auto;
    display: flex;
    justify-content: center;
}
.mypage .mypage-modal header .content .close-btn {
    position : absolute;
    left: 10px;
    font-size : 1.5rem;
}
.mypage .mypage-modal header h3 {
    text-align: center;
    font-weight: 600;
    font-size : 1rem;
}
.mypage .mypage-modal .post {
    max-width : 800px;
    padding-bottom : 100px;

}
.reference {
    width : 100%;
    margin-top : 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reference .item {
    width : 100%;
}
.reference .item h5 {
    font-size : 1rem;
    font-weight : 500;
    color : #f1f1f1;
    margin-bottom : 5px;
}
.reference .item .description, .doi{
    color : #f1f1f1cf;
    font-size : 0.8rem;
    margin-bottom : 2.5px;
}
